*{
  font-family: 'Montserrat', sans-serif;
}

body{
  font-size: 18px;
}

/* Navegação Interna Início */

header{
  background: purple;
}

header nav p {
  font-size: 0.9em;
}

section ul{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}

section ul li {
  font-size: 1em;
}

section ul li a {
  color: white;
}

section ul li a:hover {
  color: yellow;
}

nav ul li a.menuLogado  {
  background-color: purple;
}

/* Navegação Interna Fim */

.container-fluid h1 {
  padding-top: 20px;
  font-size: 1.5em;
  text-transform: uppercase;
}

.filtro-content{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: left;
  background-color:purple;
  padding: 20px;
  min-height: 600px;
}

.filtro-content p{
  font-size: 1.2em;
  text-align: left;
  color: white;
}

.filtro-content a{
  color: white;
  font-size: 1em;
  text-decoration: none;
  text-transform: capitalize;
}

.filtro-content a:hover {
  color: yellow;
  font-weight: bold;
}

/* Galeria Interna Início */

.flip-container {
	perspective: 1000;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flipper {
	transition: 0.5s;
	transform-style: preserve-3d;
	position: relative;
}

.flip-card-back {
    background-color: purple;
    color: white;
    transform: rotateY(180deg);
    position: fixed;
    width: 100%;
    height: 100%;

  }

  .flip-card-front, .flip-card-back {
  backface-visibility: hidden;
	top: 0;
	left: 0;
  }

  .text-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;
  }

  .name-content{
    font-size: 1.3em;
    font-weight: bold;
  }

  .button-content{
    border-radius: 50px;
    border: none;
    font-size: 1.2em;
    background-color: purple;
    color: white;
    padding: 15px 30px;
    bottom: -107px;
    right: -56px;
  }

  .button-content-marca{
    border-radius: 50px;
    border: none;
    background-color: purple;
    color: white;
    font-size: 0.8em;
    padding: 3px 10px;
  }

  /* Galeria Interna Fim */

  .borda-interna{
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  }

  .card-button{
    border-radius: 50px;
    border: none;
    background: purple;
    color: white;
    font-size: 0.8em;
    padding: 10px;
    margin-top: 10px;
}

  .marca-interna{
    font-size: 1.3em;
  }

  .banner-content{
    background-image: url('../image/banner.jpg');
    height: 270px;
  }

  .banner-content-influencer{
    background-image: url('../image/banner2.jpg');
    height: 300px;
  }